---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: redis-lb
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: redis
      namespace: default
  values:
    controllers:
      redis-lb:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: public.ecr.aws/docker/library/haproxy
              tag: 3.1.0-alpine@sha256:19702fca249ef4ccceb0d970fb5ff2948cee47b707b180ae1ac25bf94c900f2c
            env:
              REDIS_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: redis-credentials
                    key: redis-password
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      securityContext:
        runAsUser: 99
        runAsGroup: 99
        runAsNonRoot: true
        fsGroup: 99
        fsGroupChangePolicy: "OnRootMismatch"
    service:
      main:
        controller: redis-lb
        ports:
          http:
            port: 8080
          redis-write:
            port: 6379
          redis-read:
            port: 6380
          redis-sentinel:
            port: 26379
    serviceMonitor:
      main:
        serviceName: redis-lb
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
    ingress:
      main:
        className: internal
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        type: configMap
        name: redis-lb-configmap
        globalMounts:
          - path: /usr/local/etc/haproxy/haproxy.cfg
            subPath: haproxy.cfg
            readOnly: true
