---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: redis
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: store-k8s
  target:
    name: redis-credentials
    template:
      engineVersion: v2
      data:
        redis-password: "{{ .redis_pass }}"
  dataFrom:
    - extract:
        key: everything
