---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: device-plugin-amd-gpu
spec:
  interval: 30m
  chart:
    spec:
      chart: amd-gpu
      version: 0.21.0
      sourceRef:
        kind: HelmRepository
        name: amd-device-plugin
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: node-feature-discovery
      namespace: tools
  values:
    namespace: tools
    dp:
      resources: &resources
        requests:
          cpu: 10m
          memory: 10Mi
        limits:
          memory: 100Mi
    labeller:
      enabled: true
    lbl:
      resources: *resources
    node_selector_enabled: true
