---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: prowlarr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: store-k8s
  target:
    name: prowlarr-secret
    template:
      engineVersion: v2
      data:
        PROWLARR__AUTH__APIKEY: "{{ .prowlarr_api_key }}"

        PROWLARR__POSTGRES__HOST: &dbHost "{{ .PG_HOST }}"
        PROWLARR__POSTGRES__USER: &dbUser "{{ .prowlarr_postgres_user }}"
        PROWLARR__POSTGRES__PASSWORD: &dbPass "{{ .prowlarr_postgres_pass }}"
        PROWLARR__POSTGRES__MAINDB: &dbName "{{ .prowlarr_postgres_maindb }}"

        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_SUPER_PASS: "{{ .postgres_root_pass }}"
        INIT_POSTGRES_SUPER_USER: "{{ .postgres_root_user }}"
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_DBNAME: *dbName
  dataFrom:
    - extract:
        key: everything
    - extract:
        key: service-hosts
