---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: pg-16-immich-superuser
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: store-k8s
  target:
    name: pg-16-immich-superuser-secret
    template:
      engineVersion: v2
      data:
        username: "{{ .postgres_root_user }}"
        password: "{{ .postgres_root_pass }}"
        s3-access-key-id: "{{ .postgres_minio_user }}"
        s3-secret-access-key: "{{ .postgres_minio_pass }}"
  dataFrom:
    - extract:
        key: everything
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: pg-16-immich
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: store-k8s
  target:
    name: pg-16-immich-secret
    template:
      engineVersion: v2
      data:
        username: "{{ .immich_postgres_user }}"
        password: "{{ .immich_postgres_pass }}"
  dataFrom:
    - extract:
        key: everything
