---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: bookshelf-audio
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      bookshelf-audio:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/pennydreadful/bookshelf
              tag: hardcover-v0.4.20.91@sha256:fd6183d0eacf1cac6ce3a0c8ff2b0d5af9ddf2101141f6c86c928a136c9b2d95
            env:
              TZ: ${TIMEZONE}
              READARR__SERVER__URLBASE: /audio
              READARR__APP__INSTANCENAME: Audiobooks
              READARR__APP__LAUNCHBROWSER: "False"
              READARR__APP__THEME: dark
              READARR__AUTH__METHOD: External
              READARR__AUTH__REQUIRED: DisabledForLocalAddresses
              READARR__LOG__ANALYTICSENABLED: "False"
              READARR__LOG__LEVEL: info
            envFrom: &envFrom
              - secretRef:
                  name: bookshelf-audio-secret
            probes:
              liveness: &probes
                enabled: true
                type: HTTP
                path: /ping
              readiness: *probes
              startup:
                <<: *probes
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 500Mi
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 17.4@sha256:43dd04e91e861cf912378bad987afa168fa4f13d05528304907ad0aa351195d6
            envFrom: *envFrom
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
    service:
      main:
        controller: bookshelf-audio
        ports:
          http:
            port: 8787
    ingress:
      main:
        className: internal
        annotations:
          auth.home.arpa/enabled: "true"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Bookshelf Audiobooks
          gethomepage.dev/icon: bookshelf.svg
          gethomepage.dev/description: Audiobooks management
          gethomepage.dev/group: Media Mgmt
          gethomepage.dev/siteMonitor: &internalUrl "http://{{ .Release.Name }}.default.svc.cluster.local:8787"
          gethomepage.dev/widget.type: readarr
          gethomepage.dev/widget.url: *internalUrl
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_BOOKSHELF_AUDIO_API_KEY}}` }}"
        hosts:
          - host: &host "bookshelf.${SECRET_DOMAIN}"
            paths:
              - path: "/audio"
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: bookshelf-audio
        advancedMounts:
          bookshelf-audio:
            main:
              - path: /config
      books:
        type: nfs
        server: nova.home.arpa
        path: /mnt/main/media/audiobooks
        globalMounts:
          - path: /media/books/audio
      downloads:
        type: nfs
        server: nova.home.arpa
        path: /mnt/main/media/downloads
        globalMounts:
          - path: /media/downloads
