---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: home-assistant
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: store-k8s
  target:
    name: home-assistant-secret
    template:
      engineVersion: v2
      data:
        HASS_ELEVATION: "{{ .hass_elevation }}"
        HASS_LATITUDE: "{{ .hass_latitude }}"
        HASS_LONGITUDE: "{{ .hass_longitude }}"

        HASS_POSTGRES_URL: |-
          postgresql://{{ .hass_postgres_user }}:{{ .hass_postgres_pass }}@{{ .PG_HOST }}/{{ .hass_postgres_dbname }}
        HASS_OPEN_WEATHER_MAP_API_KEY: "{{ .hass_open_weather_map_api_key }}"
        HASS_PIRATE_WEATHER_API_KEY: "{{ .hass_pirate_weather_api_key }}"

        INIT_POSTGRES_HOST: "{{ .PG_HOST }}"
        INIT_POSTGRES_SUPER_USER: "{{ .postgres_root_user }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .postgres_root_pass }}"
        INIT_POSTGRES_USER: "{{ .hass_postgres_user }}"
        INIT_POSTGRES_PASS: "{{ .hass_postgres_pass }}"
        INIT_POSTGRES_DBNAME: "{{ .hass_postgres_dbname }}"
  dataFrom:
    - extract:
        key: everything
    - extract:
        key: service-hosts
