---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: longhorn
      namespace: storage
    - name: volsync
      namespace: storage
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2026.2.3@sha256:d73c9c53a8562e12211f24fd7303c422051220636972485df291dbec885d8a3d
            args:
              - "--log-file"
              - "/config/logs/home-assistant.log"
            env:
              TZ: ${TIMEZONE}
              HOME_ASSISTANT__HACS_INSTALL: "true"
              HASS_HTTP_PORT: &hassPort 38123
              HASS_HTTP_TRUSTED_PROXY_1: 10.42.0.0/16
              HASS_HTTP_TRUSTED_PROXY_2: 10.43.0.0/16
            envFrom: &envFrom
              - secretRef:
                  name: home-assistant-secret
            ports:
              - name: hass
                containerPort: *hassPort
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 2Gi
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.105.1@sha256:2d48970bd2084aa34a522d772b6a437981ea80407465b3bf7958553985c570e1
            # prettier-ignore
            args: [
              "--auth", "none",
              "--user-data-dir", "/config/.vscode/user-data",
              "--extensions-dir", "/config/.vscode/extensions",
              "--port", "32321",
              "/config"
            ]
            ports:
              - name: code-server
                containerPort: 32321
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16.8@sha256:217c47c886965474f5c234b5a35ed008f53b39ea90a3088b31c0da98e1f9284d
            envFrom: *envFrom
    defaultPodOptions:
      hostNetwork: true
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        runAsNonRoot: true
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
        seccompProfile: { type: RuntimeDefault }
    service:
      main:
        controller: home-assistant
        ports:
          http:
            port: 8123
            targetPort: hass
          code-server:
            port: 12321
            targetPort: code-server
    ingress:
      main:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Home assistant
          gethomepage.dev/icon: home-assistant.svg
          gethomepage.dev/group: Various
          gethomepage.dev/siteMonitor: &internalUrl "http://{{ .Release.Name }}.default.svc.cluster.local:8123"
          gethomepage.dev/widget.type: homeassistant
          gethomepage.dev/widget.url: *internalUrl
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_HASS_ACCESS_TOKEN}}` }}"
          gethomepage.dev/pod-selector: >-
            app.kubernetes.io/instance in (home-assistant)
        hosts:
          - host: &host "hass.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *host
      code-server:
        className: internal
        hosts:
          - host: &host "hass-code.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: code-server
        tls:
          - hosts:
              - *host
    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: home-assistant
        globalMounts:
          - path: /config

      logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs
      tts:
        type: emptyDir
        globalMounts:
          - path: /config/tts
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
