---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: thelounge
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: store-k8s
  target:
    name: thelounge-secret
    template:
      engineVersion: v2
      data:
        LDAP_SEARCH_PASS: "{{ .glauth_search_pass }}"
        config.js: |
          "use strict";
          module.exports = {
            public: false,
            reverseProxy: true,
            ldap: {
              enable: true,
              url: "ldap://glauth.default.svc.cluster.local:389",
              primaryKey: "cn",
              searchDN: {
                rootDN: "cn=search,ou=svcacct,ou=users,dc=home,dc=arpa",
                rootPassword: process.env.LDAP_SEARCH_PASS,
                filter: "(&(objectclass=posixAccount)(memberof=ou=user,ou=groups,dc=home,dc=arpa)(!(cn=admin))(!(cn=guest)))",
                base: "dc=home,dc=arpa",
                scope: "sub",
              },
            },
          };
  dataFrom:
    - extract:
        key: everything
