---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: readarr-audio
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      readarr-audio:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/onedr0p/readarr-develop
              tag: 0.3.32.2587@sha256:1ffa6357a1e0f2dd9c608a1a2d4064e09b76d834059dda38414c734146cfa201
            env:
              TZ: ${TIMEZONE}
              READARR__SERVER__URLBASE: /audio
              READARR__APP__INSTANCENAME: Audiobooks
              READARR__APP__LAUNCHBROWSER: "False"
              READARR__APP__THEME: dark
              READARR__AUTH__METHOD: External
              READARR__AUTH__REQUIRED: DisabledForLocalAddresses
              READARR__LOG__ANALYTICSENABLED: "False"
              READARR__LOG__DBENABLED: "False"
              READARR__LOG__LEVEL: info
            envFrom: &envFrom
              - secretRef:
                  name: readarr-audio-secret
            probes:
              liveness: &probes
                enabled: true
                type: HTTP
                path: /ping
              readiness: *probes
              startup:
                <<: *probes
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 500Mi
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16.3@sha256:8ba3204f6b293dd168766009aae2ce4fa986a29b931c2d30ac1b30238ac750b8
            envFrom: *envFrom
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
    service:
      main:
        controller: readarr-audio
        ports:
          http:
            port: 8787
    ingress:
      main:
        className: internal
        annotations:
          auth.home.arpa/enabled: "true"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Readarr Audiobooks
          gethomepage.dev/icon: readarr.svg
          gethomepage.dev/description: Audiobooks management
          gethomepage.dev/group: Media Mgmt
          gethomepage.dev/siteMonitor: &internalUrl "http://{{ .Release.Name }}.default.svc.cluster.local:8787"
          gethomepage.dev/widget.type: readarr
          gethomepage.dev/widget.url: *internalUrl
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_READARR_AUDIO_API_KEY}}` }}"
        hosts:
          - host: &host "readarr.${SECRET_DOMAIN}"
            paths:
              - path: "/audio"
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: readarr-audio-conf
        advancedMounts:
          readarr-audio:
            main:
              - path: /config
      books:
        type: nfs
        server: nova.home.arpa
        path: /mnt/main/media/audiobooks
        globalMounts:
          - path: /media/books/audio
      downloads:
        type: nfs
        server: nova.home.arpa
        path: /mnt/main/media/downloads
        globalMounts:
          - path: /media/downloads
