---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: nextcloud
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: store-k8s
  target:
    name: nextcloud-secret
    template:
      engineVersion: v2
      data:
        nextcloud-username: "{{ .admin_user_name }}"
        nextcloud-password: "{{ .admin_user_pass }}"
        smtp-username: ""
        smtp-password: ""
        smtp-host: maddy.default.svc.cluster.local
        PASSWORD_SALT: "{{ .nextcloud_password_salt }}"
        SECRET: "{{ .nextcloud_secret }}"
        INSTANCE_ID: "{{ .nextcloud_instance_id }}"
        UPDATER_SECRET: "{{ .nextcloud_updater_secret }}"
        REDIS_HOST: redis-lb.default.svc.cluster.local
        REDIS_PORT: "6379"
        REDIS_PASSWORD: "{{ .redis_pass }}"

        OIDC_CLIENT_ID: '{{ .authelia_oidc_nextcloud | fromYaml | dig "client_id" "" }}'
        OIDC_CLIENT_SECRET: '{{ .authelia_oidc_nextcloud | fromYaml | dig "client_secret" "" }}'

        INIT_POSTGRES_HOST: "{{ .PG_HOST }}"
        INIT_POSTGRES_USER: "{{ .nextcloud_postgres_user }}"
        INIT_POSTGRES_PASS: "{{ .nextcloud_postgres_pass }}"
        INIT_POSTGRES_DBNAME: "{{ .nextcloud_postgres_dbname }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .postgres_root_pass }}"
        INIT_POSTGRES_SUPER_USER: "{{ .postgres_root_user }}"
  dataFrom:
    - extract:
        key: everything
    - extract:
        key: users
    - extract:
        key: service-hosts
