---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app otbr
  namespace: flux-system
spec:
  path: ./kubernetes/main/apps/default/otbr/app
  targetNamespace: default
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  postBuild:
    substitute:
      APP: *app
      PVC_NAME_SUFFIX: "-conf"
      PVC_CAPACITY: 1Gi
      PVC_ACCESSMODE: ReadWriteMany
      VOLSYNC_MOVER_UID: "0"
      VOLSYNC_MOVER_GID: "0"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
