---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: autobrr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: store-k8s
  target:
    name: autobrr-secret
    template:
      engineVersion: v2
      data:
        # admin username: "{{ .admin_user_name }}"
        # admin password: "{{ .admin_user_pass }}"

        AUTOBRR__SESSION_SECRET: "{{ .autobrr_session_secret }}"
        AUTOBRR__DATABASE_TYPE: postgres
        AUTOBRR__POSTGRES_HOST: &dbHost "{{ .PG_HOST }}"
        AUTOBRR__POSTGRES_PORT: "5432"
        AUTOBRR__POSTGRES_USER: &dbUser "{{ .autobrr_postgres_user }}"
        AUTOBRR__POSTGRES_PASS: &dbPass "{{ .autobrr_postgres_pass }}"
        AUTOBRR__POSTGRES_DATABASE: &dbName "{{ .autobrr_postgres_dbname }}"

        AUTOBRR__OIDC_CLIENT_ID: '{{ .authelia_oidc_autobrr | fromYaml | dig "client_id" "" }}'
        AUTOBRR__OIDC_CLIENT_SECRET: '{{ .authelia_oidc_autobrr | fromYaml | dig "client_secret" "" }}'

        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_SUPER_PASS: "{{ .postgres_root_pass }}"
        INIT_POSTGRES_SUPER_USER: "{{ .postgres_root_user }}"
  dataFrom:
    - extract:
        key: everything
    - extract:
        key: service-hosts
