---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: neodb-redis
spec:
  interval: 30m
  chart:
    spec:
      chart: redis
      version: 23.2.1
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      defaultStorageClass: openebs-hostpath
    auth:
      enabled: false
    replica:
      replicaCount: 0
    metrics:
      enabled: true
