---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: audiobookshelf
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: store-k8s
  target:
    name: audiobookshelf-secret
    template:
      engineVersion: v2
      data:
        TOKEN_SECRET: "{{ .audiobookshelf_token_secret }}"
  dataFrom:
    - extract:
        key: everything
