---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mealie
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: glauth
      namespace: default
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/mealie-recipes/mealie
              tag: v1.8.0@sha256:1622cfc765645792a739443369a11b5c0909c8083b6fcfff194dd44e95bdcad4
            env:
              TZ: "${TIMEZONE}"
              PUID: 568
              PGID: 568

              ALLOW_SIGNUP: "false"
              API_PORT: &port 9000
              AUTO_BACKUP_ENABLED: "true"
              BASE_URL: "https://recipes.${SECRET_DOMAIN}"
              TOKEN_TIME: 720

              SMTP_HOST: maddy.default.svc.cluster.local
              SMTP_PORT: 2525
              SMTP_FROM_NAME: Mealie
              SMTP_FROM_EMAIL: "mealie@${SECRET_DOMAIN}"
              SMTP_AUTH_STRATEGY: NONE

              LDAP_AUTH_ENABLED: "true"
              LDAP_SERVER_URL: ldap://glauth.default.svc.cluster.local:389
              LDAP_TLS_INSECURE: "true"
              LDAP_TLS_CACERTFILE: ""
              LDAP_ENABLE_STARTTLS: "false"
              LDAP_BASE_DN: dc=home,dc=arpa
              LDAP_QUERY_BIND: cn=search,ou=svcacct,ou=users,dc=home,dc=arpa
              LDAP_USER_FILTER: "(&(memberOf=ou=user,ou=groups,dc=home,dc=arpa)(objectClass=posixAccount))"
              LDAP_ADMIN_FILTER: "(&(memberOf=ou=admin,ou=groups,dc=home,dc=arpa)(objectClass=inetOrgPerson))"
              LDAP_ID_ATTRIBUTE: cn
              LDAP_NAME_ATTRIBUTE: uid
              LDAP_MAIL_ATTRIBUTE: mail

              OIDC_AUTH_ENABLED: "true"
              OIDC_SIGNUP_ENABLED: "true"
              OIDC_CONFIGURATION_URL: "https://auth.${SECRET_DOMAIN}/.well-known/openid-configuration"
              OIDC_AUTO_REDIRECT: "false"
              OIDC_PROVIDER_NAME: Authelia
              OIDC_ADMIN_GROUP: admin # from "ou=admin,ou=users"
              OIDC_USER_GROUP: user # from "ou=user,ou=users"
            envFrom: &envFrom
              - secretRef:
                  name: mealie-secret
            probes:
              liveness: &probes
                enabled: true
                type: HTTP
                path: /api/app/about
              readiness: *probes
              startup:
                enabled: false
            resources:
              requests:
                cpu: 10m
                memory: 200Mi
              limits:
                memory: 1000Mi
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16.3@sha256:8ba3204f6b293dd168766009aae2ce4fa986a29b931c2d30ac1b30238ac750b8
            envFrom: *envFrom
          minio-init-bucket:
            image:
              repository: ghcr.io/qlonik/minio-init-bucket
              tag: RELEASE.2024-06-12T14-34-03Z@sha256:c6b15ae3a93b09573e850c42b1411fca7444dd5118b55f1c1e3e0b8825b61652
            envFrom: *envFrom
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
    service:
      main:
        primary: true
        controller: main
        ports:
          http:
            primary: true
            port: *port
    ingress:
      main:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
          hajimari.io/appName: Recipes
          hajimari.io/group: Home
          hajimari.io/icon: mdi:food
        hosts:
          - host: &host "recipes.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      data:
        nameOverride: api-data
        type: persistentVolumeClaim
        storageClass: truenas-nfs-main
        accessMode: ReadWriteMany
        size: 1Gi
        globalMounts:
          - path: /app/data
      backups:
        nameOverride: api-backups
        type: persistentVolumeClaim
        storageClass: truenas-nfs-main
        accessMode: ReadWriteMany
        size: 1Gi
        globalMounts:
          - path: /app/data/backups
