---
apiVersion: ts.opentelekomcloud.com/v1alpha1
kind: TypesenseCluster
metadata:
  name: ty-neodb
  labels:
    app.kubernetes.io/name: typesense-operator
    app.kubernetes.io/managed-by: kustomize
spec:
  image: typesense/typesense:30.1@sha256:91604dc128e2023e7cba34ae8bd36f68351bcb74ea33a84960bfdc5649cf43b3
  replicas: 1
  adminApiKey:
    name: typesense-neodb-secret
    namespace: database
  storage:
    size: 1Gi
    storageClassName: openebs-hostpath
