---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cross-seed
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: store-k8s
  target:
    name: cross-seed-secret
    template:
      engineVersion: v2
      data:
        XSEED_API_KEY: "{{ .cross_seed_api_key }}"
        PROWLARR_API_KEY: "{{ .prowlarr_api_key }}"
        SONARR_API_KEY: "{{ .sonarr_api_key }}"
        RADARR_API_KEY: "{{ .radarr_api_key }}"
  dataFrom:
    - extract:
        key: everything
