---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: firefly-iii
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      firefly-iii:
        containers:
          main:
            image:
              repository: fireflyiii/core
              tag: version-6.1.24@sha256:ffb4d6253863a11a132647b274f32579fcff068a828a32257268956039bc4559
            env:
              TZ: ${TIMEZONE}
              DEFAULT_LANGUAGE: en_CA
              DEFAULT_LOCALE: equal
              TRUSTED_PROXIES: "**"
              APP_URL: "https://firefly-iii.${SECRET_DOMAIN}"
              AUTHENTICATION_GUARD: remote_user_guard
              AUTHENTICATION_GUARD_HEADER: HTTP_REMOTE_USER
              AUTHENTICATION_GUARD_EMAIL: HTTP_REMOTE_EMAIL
            envFrom: &envFrom
              - secretRef:
                  name: firefly-iii-credentials
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec: &probes-spec
                  httpGet:
                    path: /health
                    port: &port 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  <<: *probes-spec
                  failureThreshold: 30
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 2Gi
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16.4@sha256:e41c745b54485341e00efbd27556f0717623a119f0d5107e5ff831aa1322c76f
            envFrom: *envFrom
      cronjob:
        type: cronjob
        cronjob:
          schedule: "@hourly"
          timeZone: "${TIMEZONE}"
          successfulJobsHistory: 2
          failedJobsHistory: 2
          activeDeadlineSeconds: 120
        containers:
          main:
            image:
              repository: quay.io/curl/curl
              tag: 8.11.0@sha256:b90c4281fe1a4c6cc2b6a665c531d448bba078d75ffa98187e7d7e530fca5209
            args:
              - curl
              - "firefly-iii.default.svc.cluster.local:8080/api/v1/cron/$$(STATIC_CRON_TOKEN)"
            env:
              STATIC_CRON_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: firefly-iii-credentials
                    key: STATIC_CRON_TOKEN
            resources:
              requests:
                cpu: 10m
                memory: 10Mi
              limits:
                memory: 50Mi
    service:
      main:
        primary: true
        controller: firefly-iii
        ports:
          http:
            primary: true
            port: *port
    ingress:
      main:
        className: external
        annotations:
          auth.home.arpa/enabled: "true"
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Firefly
          gethomepage.dev/icon: firefly.png
          gethomepage.dev/description: Financials
          gethomepage.dev/group: Various
          gethomepage.dev/siteMonitor: "http://{{ .Release.Name }}.default.svc.cluster.local:8080"
          gethomepage.dev/pod-selector: >-
            app.kubernetes.io/instance in (firefly-iii),
            app.kubernetes.io/component in (firefly-iii)
        hosts:
          - host: &host "firefly-iii.${SECRET_DOMAIN}"
            paths:
              - path: "/"
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *host
      api:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: &host "firefly-iii.${SECRET_DOMAIN}"
            paths:
              - path: "/api"
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      uploads:
        type: persistentVolumeClaim
        existingClaim: firefly-iii-uploads
        globalMounts:
          - path: /var/www/html/storage/upload
