---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: bazarr
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        type: statefulset
        containers:
          main:
            image:
              repository: ghcr.io/home-operations/bazarr
              tag: 1.5.3@sha256:2f1c32cb1420b2e56f60cfdf7823737eb501fdb2c13669429d23ab3a02e9ad90
            env:
              TZ: ${TIMEZONE}
            envFrom: &envFrom
              - secretRef:
                  name: bazarr-secret
            probes: &probes
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources: &resources
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 2Gi
          subcleaner:
            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.5.0@sha256:0e64aedb0d0ae0a3bab880349a5109b2a31891d646dd61e433ca36ed220dff1f
            args:
              - --repo=https://github.com/KBlixt/subcleaner.git
              - --ref=master
              - --period=6h
              - --root=/add-ons/subcleaner
            probes: *probes
            resources: *resources
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 17.4@sha256:43dd04e91e861cf912378bad987afa168fa4f13d05528304907ad0aa351195d6
            envFrom: *envFrom
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups: [10000]
    service:
      main:
        primary: true
        controller: main
        ports:
          http:
            primary: true
            port: 6767
    ingress:
      main:
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Bazarr
          gethomepage.dev/icon: bazarr.svg
          gethomepage.dev/description: Subtitle downloader
          gethomepage.dev/group: Media Mgmt
          gethomepage.dev/siteMonitor: &internalUrl "http://{{ .Release.Name }}.default.svc.cluster.local:6767"
          gethomepage.dev/widget.type: bazarr
          gethomepage.dev/widget.url: *internalUrl
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_BAZARR_API_KEY}}` }}"
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: "/"
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        # stateful data
        type: persistentVolumeClaim
        existingClaim: bazarr-conf
        advancedMounts:
          main:
            main:
              - path: /config
      media-movies:
        type: nfs
        server: nova.home.arpa
        path: /mnt/main/media/movies
        advancedMounts:
          main:
            main:
              - path: /media/movies
      media-series:
        type: nfs
        server: nova.home.arpa
        path: /mnt/main/media/series
        advancedMounts:
          main:
            main:
              - path: /media/series
      add-ons:
        type: emptyDir
        globalMounts:
          - path: /add-ons
