---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: navidrome
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      navidrome:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/navidrome/navidrome
              tag: 0.53.3@sha256:d864c5ddbae508920b157d73b08bd48e93ec8c422003a491edd01a889497582a
            env:
              TZ: ${TIMEZONE}
              ND_LOGLEVEL: info
              ND_SCANSCHEDULE: 1h
              ND_PROMETHEUS_ENABLED: true
              ND_REVERSEPROXYWHITELIST: "${CLUSTER_CIDR},${SERVICE_CIDR}"
            probes:
              liveness: &probe
                enabled: true
                type: HTTP
                path: /ping
              readiness: *probe
              startup:
                <<: *probe
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        runAsNonRoot: true
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
    service:
      main:
        controller: navidrome
        ports:
          http:
            port: 4533
    serviceMonitor:
      main:
        serviceName: navidrome
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
    ingress:
      main:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
          auth.home.arpa/enabled: "true"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: navidrome
          gethomepage.dev/icon: navidrome.svg
          gethomepage.dev/description: Music player
          gethomepage.dev/group: Media
          gethomepage.dev/siteMonitor: &internalUrl "http://{{ .Release.Name }}.default.svc.cluster.local:4533"
          gethomepage.dev/widget.type: navidrome
          gethomepage.dev/widget.url: *internalUrl
          gethomepage.dev/widget.admin: "{{ `{{HOMEPAGE_VAR_NAVIDROME_ADMIN_USER}}` }}"
          gethomepage.dev/widget.salt: "{{ `{{HOMEPAGE_VAR_NAVIDROME_ADMIN_SALT}}` }}"
          gethomepage.dev/widget.token: "{{ `{{HOMEPAGE_VAR_NAVIDROME_ADMIN_TOKEN}}` }}"
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      data:
        # stateful data
        type: persistentVolumeClaim
        existingClaim: navidrome
        advancedMounts:
          navidrome:
            main:
              - path: /data
      music:
        type: nfs
        server: nova.home.arpa
        path: /mnt/main/media/music
        globalMounts:
          - path: /music
            readOnly: true
      cache:
        type: emptyDir
        globalMounts:
          - path: /data/cache
