---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gha-rs
spec:
  interval: 30m
  chart:
    spec:
      chart: gha-runner-scale-set
      version: 0.13.0
      sourceRef:
        kind: HelmRepository
        name: actions-runner-controller
        namespace: flux-system
  install:
    remediation:
      retries: 3
  dependsOn:
    - name: gha-rs-controller
      namespace: actions-runner-system
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    runnerScaleSetName: gha-home-ops
    githubConfigUrl: https://github.com/qlonik/musical-parakeet
    githubConfigSecret: actions-runner-controller-auth-secret
    minRunners: 1
    maxRunners: 3
    containerMode:
      type: dind
    template:
      spec:
        containers:
          - name: runner
            image: ghcr.io/home-operations/actions-runner:rolling@sha256:92a45e47f4b349f4da2307ebaaea5443cc86d1ce625d37acf2c61b3b09192e47
            command: ["/home/runner/run.sh"]
    controllerServiceAccount:
      name: gha-rs-controller
      namespace: actions-runner-system
