---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: redis
      namespace: default
  values:
    controllers:
      immich:
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.5.6@sha256:aa163d2e1cc2b16a9515dd1fef901e6f5231befad7024f093d7be1f2da14341a
            env:
              TZ: "${TIMEZONE}"
              IMMICH_LOG_LEVEL: verbose
              IMMICH_MACHINE_LEARNING_URL: http://immich-machine-learning.default.svc.cluster.local:3003
            envFrom: &envFrom
              - secretRef:
                  name: immich-secret
            resources:
              requests:
                cpu: 100m
                memory: 1Gi
              limits:
                memory: 4Gi
            probes:
              liveness: &server-probe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/server/ping
                    port: &server-port 2283
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *server-probe
              startup:
                enabled: false
            securityContext: &container-sec
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16.8@sha256:217c47c886965474f5c234b5a35ed008f53b39ea90a3088b31c0da98e1f9284d
            envFrom: *envFrom
      machine-learning:
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.5.6@sha256:b213fa3c82d27a21a299c46ffbb38a091f18384db1ad67d409a3b34fe0fce556
            env:
              TZ: "${TIMEZONE}"
              MPLCONFIGDIR: "/cache/matplotlib"
            probes:
              liveness: &machine-learning-probe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: &machine-learning-port 3003
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *machine-learning-probe
              startup:
                enabled: false
            securityContext: *container-sec

    defaultPodOptions:
      annotations:
        reloader.stakater.com/auto: "true"
      enableServiceLinks: false
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"

    service:
      immich:
        primary: true
        controller: immich
        ports:
          http:
            primary: true
            port: *server-port
      machine-learning:
        nameOverride: machine-learning
        primary: true
        controller: machine-learning
        ports:
          http:
            primary: true
            port: *machine-learning-port

    ingress:
      immich:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
          # proxy-body-size is set to 0 to remove the body limit on file uploads
          nginx.ingress.kubernetes.io/proxy-body-size: "0"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Immich
          gethomepage.dev/icon: immich.svg
          gethomepage.dev/description: Photos
          gethomepage.dev/group: Media
          gethomepage.dev/siteMonitor: &internalUrl "http://{{ .Release.Name }}.default.svc.cluster.local:2283"
          gethomepage.dev/widget.type: immich
          gethomepage.dev/widget.url: *internalUrl
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_IMMICH_API_KEY}}` }}"
          gethomepage.dev/widget.version: "2"
        hosts:
          - host: &host "immich.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: immich
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      immich:
        type: persistentVolumeClaim
        existingClaim: immich
        advancedMounts:
          immich:
            main:
              - path: /usr/src/app/upload
      geocoding-dump:
        type: emptyDir
        advancedMounts:
          immich:
            main:
              - path: /usr/src/app/.reverse-geocoding-dump
      machine-learning-cache:
        type: persistentVolumeClaim
        storageClass: longhorn
        size: 10Gi
        accessMode: ReadWriteMany
        advancedMounts:
          machine-learning:
            main:
              - path: /cache
      tmp:
        type: emptyDir
        advancedMounts:
          machine-learning:
            main:
              - path: /tmp
