---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: firefly-iii-data-importer-resources
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: store-k8s
  target:
    name: firefly-iii-data-importer-resources
    template:
      engineVersion: v2
      data:
        user-01-pat: "{{ .user_001_firefly_iii_pat }}"
        user-02-pat: "{{ .user_002_firefly_iii_pat }}"
  dataFrom:
    - extract:
        key: users
