---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: attic
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: store-k8s
  target:
    name: attic-credentials
    template:
      engineVersion: v2
      data:
        ATTIC_SERVER_TOKEN_HS256_SECRET_BASE64: "{{ .attic_jwt_secret }}"
        ATTIC_SERVER_DATABASE_URL: |-
          postgres://{{ .attic_db_user }}:{{ .attic_db_pass }}@{{ .PG_HOST }}/attic
        AWS_ACCESS_KEY_ID: "{{ .AWS_ACCESS_KEY_ID }}"
        AWS_SECRET_ACCESS_KEY: "{{ .AWS_SECRET_ACCESS_KEY }}"
        # for init-db
        INIT_POSTGRES_DBNAME: attic
        INIT_POSTGRES_USER: "{{ .attic_db_user }}"
        INIT_POSTGRES_PASS: "{{ .attic_db_pass }}"
        INIT_POSTGRES_HOST: "{{ .PG_HOST }}"
        INIT_POSTGRES_SUPER_USER: "{{ .postgres_root_user }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .postgres_root_pass }}"
  dataFrom:
    - extract:
        key: everything
    - extract:
        key: service-hosts
    - extract:
        key: attic-cache-minio-secret
