---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: linkding
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: store-k8s
  target:
    name: linkding-secret
    template:
      engineVersion: v2
      data:
        LD_SUPERUSER_NAME: "{{ .admin_user_name }}"
        LD_SUPERUSER_PASSWORD: "{{ .admin_user_pass }}"
        LD_DB_ENGINE: postgres
        LD_DB_HOST: &dbHost "{{ .PG_HOST }}"
        LD_DB_PORT: "5432"
        LD_DB_USER: &dbUser "{{ .linkding_postgres_user }}"
        LD_DB_PASSWORD: &dbPass "{{ .linkding_postgres_pass }}"
        LD_DB_DATABASE: &dbName "{{ .linkding_postgres_dbname }}"

        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_SUPER_PASS: "{{ .postgres_root_pass }}"
        INIT_POSTGRES_SUPER_USER: "{{ .postgres_root_user }}"
  dataFrom:
    - extract:
        key: everything
    - extract:
        key: users
    - extract:
        key: service-hosts
