---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cloudflared
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: store-k8s
  target:
    name: cloudflared-secret
    template:
      engineVersion: v2
      data:
        TUNNEL_ID: "{{ .cloudflared_tunnel_id }}"
        credentials.json: |
          {
            "AccountTag": "{{ .cloudflared_account_id }}",
            "TunnelSecret": "{{ .cloudflared_tunnel_secret }}",
            "TunnelID": "{{ .cloudflared_tunnel_id }}"
          }
  dataFrom:
    - extract:
        key: everything
