---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: calibre
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        type: statefulset
        containers:
          main:
            image:
              repository: ghcr.io/linuxserver/calibre
              tag: v7.14.0-ls291@sha256:afd005e6e065913e9e20e3ac098decf3f79495f3300215acf03f2537a6c0ac6a
            env:
              TZ: ${TIMEZONE}
              PUID: 568
              PGID: 568
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        # disabled for linuxserver.io image
        # runAsUser: 568
        # runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups: [10000]
    service:
      main:
        primary: true
        controller: main
        ports:
          http:
            primary: true
            port: 8080
      content-server:
        controller: main
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: "${LB_CALIBRE_SERVER_ADDR}"
        externalTrafficPolicy: Local
        ports:
          content-server:
            port: 8081
    ingress:
      main:
        className: internal
        annotations:
          auth.home.arpa/enabled: "true"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Calibre
          gethomepage.dev/icon: calibre.svg
          gethomepage.dev/description: E-Books metadata management
          gethomepage.dev/group: Media Mgmt
          gethomepage.dev/siteMonitor: "http://{{ .Release.Name }}.default.svc.cluster.local:8080"
          gethomepage.dev/pod-selector: >-
            app.kubernetes.io/instance in (calibre)
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: "/"
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *host
      content-server:
        className: internal
        annotations:
          nginx.ingress.kubernetes.io/configuration-snippet: |
            rewrite ^/opds$ /opds/ permanent;
        hosts:
          - host: *host
            paths:
              - path: "/opds"
                pathType: Prefix
                service:
                  identifier: content-server
                  port: content-server
        tls:
          - hosts:
              - *host
    persistence:
      config:
        # stateful data
        type: persistentVolumeClaim
        existingClaim: calibre-conf
        advancedMounts:
          main:
            main:
              - path: /config
      books:
        type: nfs
        server: nova.home.arpa
        path: /mnt/main/media/ebooks
        globalMounts:
          - path: /media/books/ebooks
      audiobooks:
        type: nfs
        server: nova.home.arpa
        path: /mnt/main/media/audiobooks
        globalMounts:
          - path: /media/books/audio
      books-to-import:
        type: nfs
        server: nova.home.arpa
        path: /mnt/main/media/downloads/books-to-import
        globalMounts:
          - path: /media/downloads/books-to-import
