---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lazylibrarian
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        type: statefulset
        containers:
          main:
            image:
              repository: ghcr.io/linuxserver/lazylibrarian
              tag: latest@sha256:95d4b3558770a7e1618ef184765a5201791a1f713477602a42d9c15046d5d803
            env:
              TZ: ${TIMEZONE}
              PUID: 568
              PGID: 568
              DOCKER_MODS: >-
                {{- $items := list
                  "// renovate: lsio-docker-mod"
                  "ghcr.io/linuxserver/mods:universal-calibre-v7.23.0"
                  "// renovate: lsio-docker-mod"
                  "ghcr.io/linuxserver/mods:lazylibrarian-ffmpeg"
                -}}
                {{- $filtered := list -}}
                {{- range $item := $items -}}
                  {{- if not (hasPrefix "//" $item) -}}
                    {{- $filtered = append $filtered $item -}}
                  {{- end -}}
                {{- end -}}
                {{- $filtered | join "|" -}}
            resources:
              requests:
                cpu: 10m
                memory: 500Mi
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
    service:
      main:
        controller: main
        ports:
          http:
            port: 5299
    ingress:
      main:
        className: internal
        annotations:
          auth.home.arpa/enabled: "true"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Lazylibrarian
          gethomepage.dev/icon: lazylibrarian.png
          gethomepage.dev/description: E-Books downloads
          gethomepage.dev/group: Media Mgmt
          gethomepage.dev/siteMonitor: "http://{{ .Release.Name }}.default.svc.cluster.local:5299/config"
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: "/"
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        # stateful data
        type: persistentVolumeClaim
        existingClaim: lazylibrarian-conf
        advancedMounts:
          main:
            main:
              - path: /config
      ebooks:
        type: nfs
        server: nova.home.arpa
        path: /mnt/main/media/ebooks
        globalMounts:
          - path: /books/ebooks
      downloads:
        type: nfs
        server: nova.home.arpa
        path: /mnt/main/media/downloads/lazylibrarian
        globalMounts:
          - path: /downloads/lazylibrarian
      downloads-sabnzbd:
        type: nfs
        server: nova.home.arpa
        path: /mnt/main/media/downloads/sabnzbd
        globalMounts:
          - path: /downloads/sabnzbd
            readOnly: true
      downloads-qbittorrent:
        type: nfs
        server: nova.home.arpa
        path: /mnt/main/media/downloads/qbittorrent
        globalMounts:
          - path: /downloads/qbittorrent
            readOnly: true
      patches:
        type: configMap
        name: patch-lazylibrarian-code
        advancedMounts:
          main:
            main:
              - path: /etc/s6-overlay/s6-rc.d/patch-lazylibrarian-code
                readOnly: true
              - path: /etc/s6-overlay/s6-rc.d/init-lazylibrarian-config/dependencies.d/patch-lazylibrarian-code
                subPath: dep
                readOnly: true
