---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: manyfold
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: store-k8s
  target:
    name: manyfold-secret
    template:
      engineVersion: v2
      data:
        DATABASE_HOST: &dbHost "{{ .PG_HOST }}"
        DATABASE_USER: &dbUser "{{ .manyfold_postgres_user }}"
        DATABASE_PASSWORD: &dbPass "{{ .manyfold_postgres_pass }}"
        DATABASE_NAME: &dbName "{{ .manyfold_postgres_dbname }}"
        REDIS_URL: "redis://:{{ .redis_pass }}@redis-lb.default.svc.cluster.local:6379/9"
        SECRET_KEY_BASE: "{{ .manyfold_secret_key_base }}"
        OIDC_CLIENT_ID: '{{ .authelia_oidc_manyfold | fromYaml | dig "client_id" "" }}'
        OIDC_CLIENT_SECRET: '{{ .authelia_oidc_manyfold | fromYaml | dig "client_secret" "" }}'

        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_SUPER_PASS: "{{ .postgres_root_pass }}"
        INIT_POSTGRES_SUPER_USER: "{{ .postgres_root_user }}"
  dataFrom:
    - extract:
        key: everything
    - extract:
        key: service-hosts
