---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: manyfold
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: redis
      namespace: default
  values:
    controllers:
      manyfold:
        containers:
          main:
            image:
              repository: ghcr.io/manyfold3d/manyfold
              tag: 0.130.2@sha256:b5e2eb3e86f2b9b7ec8ad5a20a1064cdc279810e1bffbb554aaaf8597307437e
            env:
              TZ: ${TIMEZONE}
              DATABASE_ADAPTER: postgresql
              PUID: 568
              PGID: 568
              MULTIUSER: enabled
              PUBLIC_HOSTNAME: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
              HTTPS_ONLY: enabled
              OIDC_ISSUER: "https://auth.${SECRET_DOMAIN}"
              OIDC_NAME: Authelia
              FORCE_OIDC: enabled
              SMTP_SERVER: maddy.default.svc.cluster.local
              SMTP_PORT: 2525
              SMTP_FROM_ADDRESS: "no-reply+manyfold@${SECRET_DOMAIN}"
            envFrom: &envFrom
              - secretRef:
                  name: manyfold-secret
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                memory: 3Gi
            probes:
              liveness: &probe
                enabled: true
                type: HTTP
                path: /health
              readiness: *probe
              startup:
                <<: *probe
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
                add: ["CHOWN", "DAC_OVERRIDE", "SETUID", "SETGID"]
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16.8@sha256:217c47c886965474f5c234b5a35ed008f53b39ea90a3088b31c0da98e1f9284d
            envFrom: *envFrom
          set-permissions:
            image:
              repository: ghcr.io/home-operations/busybox
              tag: 1.37.0@sha256:026ed7273270ec08f6902b4ae8334c23b473e5394bec3bbbdbfe580c710d50bc
            command:
              - /bin/sh
              - -c
              - |
                mkdir -p /data/root-tmp;
                mkdir -p /data/app-tmp;
                mkdir -p /data/app-log;
                mkdir -p /data/root-run;
                chmod 1777 /data/root-tmp/;
    defaultPodOptions:
      annotations:
        reloader.stakater.com/auto: "true"
      securityContext:
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
    service:
      main:
        controller: manyfold
        ports:
          http:
            port: 3214
    ingress:
      main:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: manyfold
          gethomepage.dev/icon: manyfold.svg
          gethomepage.dev/description: 3D files
          gethomepage.dev/group: Media
          gethomepage.dev/siteMonitor: "http://{{ .Release.Name }}.default.svc.cluster.local:3214"
        hosts:
          - host: *host
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      data:
        type: persistentVolumeClaim
        existingClaim: manyfold
        advancedMounts:
          manyfold:
            main:
              - path: /data
      tmp:
        type: emptyDir
        advancedMounts:
          manyfold:
            main:
              - path: /tmp
                subPath: root-tmp
              - path: /usr/src/app/tmp
                subPath: app-tmp
              - path: /usr/src/app/log
                subPath: app-log
              - path: /run
                subPath: root-run
            set-permissions:
              - path: /data
