---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: minio
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: store-k8s
  target:
    name: minio-secret
    template:
      engineVersion: v2
      data:
        MINIO_ROOT_USER: "{{ .minio_root_user }}"
        MINIO_ROOT_PASSWORD: "{{ .minio_root_pass }}"
        MINIO_PROMETHEUS_TOKEN: "{{ .minio_prometheus_token }}"
  dataFrom:
    - extract:
        key: everything
