apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: store-k8s
spec:
  provider:
    kubernetes:
      remoteNamespace: external-secrets
      server:
        caProvider:
          type: ConfigMap
          name: kube-root-ca.crt
          namespace: external-secrets
          key: ca.crt
      auth:
        serviceAccount:
          name: external-secrets-store-k8s
          namespace: external-secrets
