---
name: Reset Actionsflow Cache

on:
  workflow_dispatch:

jobs:
  reset:
    runs-on: ubuntu-latest
    name: Reset Actionsflow Cache
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Run Actionsflow Clean
        uses: qlonik/actionsflow-action@8ffb42cf578a707a75e9f7b134e432914bf91559 # v3.1.0
        with:
          args: clean
          json-secrets: ${{ toJSON(secrets) }}
