---
name: Reset Actionsflow Cache

on:
  workflow_dispatch:

jobs:
  reset:
    runs-on: ubuntu-latest
    name: Reset Actionsflow Cache
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run Actionsflow Clean
        uses: qlonik/actionsflow-action@8ffb42cf578a707a75e9f7b134e432914bf91559 # v3.1.0
        with:
          args: clean
          json-secrets: ${{ toJSON(secrets) }}
