---
name: Reset Actionsflow Cache

on:
  workflow_dispatch:

jobs:
  reset:
    runs-on: ubuntu-latest
    name: Reset Actionsflow Cache
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Run Actionsflow Clean
        uses: qlonik/actionsflow-action@8ffb42cf578a707a75e9f7b134e432914bf91559 # v3.1.0
        with:
          args: clean
          json-secrets: ${{ toJSON(secrets) }}
