---
name: Typecheck TS projects

on:
  pull_request:
    branches: ["main"]
    paths: ["workflows/**"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

env:
  PROJECT_PATHS: |
    [
      "workflows/process-firefly-transactions/submit-to-cospend"
    ]

jobs:
  changed-projects:
    name: Changed projects
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.changed-projects.outputs.result }}
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46.0.5
        with:
          files: workflows/**
          matrix: true

      - name: Determine changed projects
        id: changed-projects
        uses: actions/github-script@f28e40c7f34bde8b3046d885e986cb6290c5673b # v7.1.0
        env:
          CHANGED_FILES: "${{ steps.changed-files.outputs.all_changed_and_modified_files }}"
        with:
          # language=javascript
          script: |
            /** @type {Set<string>} */
            const result = new Set()

            /** @type {Array<string>} */
            const projectPaths = JSON.parse(process.env.PROJECT_PATHS)
            /** @type {Array<string>} */
            const changedFiles = JSON.parse(process.env.CHANGED_FILES)

            for (const path of changedFiles) {
              for (const project of projectPaths) {
                if (path.startsWith(project)) {
                  result.add(project)
                }
              }
            }

            return [...result.values()]

      - name: List all changed projects
        run: echo '${{ steps.changed-projects.outputs.result }}' | jq

  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest
    needs: [changed-projects]
    strategy:
      matrix:
        path: ${{ fromJSON(needs.changed-projects.outputs.matrix) }}
      max-parallel: 4
      fail-fast: false
    defaults:
      run:
        working-directory: "${{ matrix.path }}"
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 9

      - name: Install Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: lts/*
          cache: pnpm
          cache-dependency-path: ${{ matrix.path }}/pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install --strict-peer-dependencies

      - name: Typecheck
        run: |
          if [[ $(jq '.scripts.typecheck' package.json) != "null" ]]; then
            echo "running \`typecheck\` script defined in project"
            pnpm run typecheck
          fi

  # Summarize matrix https://github.community/t/status-check-for-a-matrix-jobs/127354/7
  typecheck-success:
    if: ${{ always() }}
    name: Successful projects typecheck
    runs-on: ubuntu-latest
    needs: [typecheck]
    steps:
      - if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
        name: Check matrix status
        run: exit 1
