---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: democratic-csi-freenas-api-nfs-provisioner-driver-config
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: store-k8s
  target:
    name: democratic-csi-freenas-api-nfs-provisioner-driver-config
    template:
      engineVersion: v2
      data:
        driver-config-file.yaml: |
          driver: freenas-api-nfs
          httpConnection:
            protocol: http
            host: nova.home.arpa
            port: 80
            apiKey: "{{ .truenas_api_key_democratic_csi }}"
            apiVersion: 2
          zfs:
            datasetParentName: main/appdata/pvc-vols
            detachedSnapshotsDatasetParentName: main/appdata/pvc-snaps
            datasetEnableQuotas: true
            datasetEnableReservation: false
            datasetPermissionsMode: "0777"
            datasetPermissionsUser: 0
            datasetPermissionsGroup: 0
          nfs:
            shareHost: nova.home.arpa
            shareAlldirs: false
            shareAllowedHosts:
              - 192.168.0.37
            shareAllowedNetworks:
              - 192.168.0.48/28
            shareMaprootUser: root
            shareMaprootGroup: root
            shareMapallUser: ""
            shareMapallGroup: ""
  dataFrom:
    - extract:
        key: everything
