---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: "firefly-iii-data-importer-${user_id}"
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.0.4
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: firefly-iii
      namespace: default
  values:
    controllers:
      main:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: fireflyiii/data-importer
              tag: version-1.4.5@sha256:e5d5ad021a4b61519f1917707ac7a5dc3598a0782b676f4782cd47f90c0ea49a
            env:
              TZ: ${TIMEZONE}
              FIREFLY_III_URL: http://firefly-iii.default.svc.cluster.local:8080
              VANITY_URL: "https://firefly-iii.${SECRET_DOMAIN}"
              FIREFLY_III_ACCESS_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: firefly-iii-data-importer-resources
                    key: "${user_id}-pat"
              TRUSTED_PROXIES: "**"
              EXPECT_SECURE_URL: "true"
              REDIS_HOST: http://redis-lb.default.svc.cluster.local
              REDIS_PORT: 6379
              REDIS_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: redis-credentials
                    key: redis-password
              REDIS_DB: 15
              REDIS_CACHE_DB: 16
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 500Mi
    defaultPodOptions:
      enableServiceLinks: false
      securityContext:
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
    service:
      main:
        primary: true
        controller: main
        ports:
          http:
            primary: true
            port: *port
    persistence:
      upload:
        type: persistentVolumeClaim
        storageClass: nfs-zfs-main
        accessMode: ReadWriteOnce
        size: 2Gi
        retain: true
        globalMounts:
          - path: /var/www/html/storage/upload
